/* 카페24 숑숑 */
@font-face {
    font-family: 'Cafe24Syongsyong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 카페24 빛나는 별 */
@font-face {
    font-family: 'Cafe24Shiningstar';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/Cafe24Shiningstar.woff) format('woff');
}

/* 애플산돌고딕 */
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 900;
    src: url(fonts/AppleSDGothicNeoH.woff) format('woff')
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 800;
    src: url(fonts/AppleSDGothicNeoEB.woff) format('woff');
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/AppleSDGothicNeoB.woff) format('woff');
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 600;
    src: url(fonts/AppleSDGothicNeoSB.woff) format('woff');
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/AppleSDGothicNeoM.woff) format('woff')
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/AppleSDGothicNeoR.woff) format('woff')
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/AppleSDGothicNeoL.woff) format('woff')
}
@font-face {
    font-family:'APPLE_SANDG';
    font-style:normal;
    font-weight: 200;
    src: url(fonts/AppleSDGothicNeoT.woff) format('woff')
}



@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 900;
    src: url(fonts/BarlowCondensed-Black.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 800;
    src: url(fonts/BarlowCondensed-ExtraBold.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/BarlowCondensed-Bold.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 600;
    src: url(fonts/BarlowCondensed-SemiBold.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/BarlowCondensed-Medium.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/BarlowCondensed-Regular.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/BarlowCondensed-Light.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 200;
    src: url(fonts/BarlowCondensed-ExtraLight.woff) format('woff')
}
@font-face {
    font-family:'Barlow_Condensed';
    font-style:normal;
    font-weight: 100;
    src: url(fonts/BarlowCondensed-Thin.woff) format('woff')
}



/* 나눔스퀘어 */
@font-face {
    font-family:'NANUMSQUARE';
    font-style:normal;
    font-weight: 800;
    src: url(fonts/NanumSquareEB.woff) format('woff')
}
@font-face {
    font-family:'NANUMSQUARE';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/NanumSquareB.woff) format('woff')
}
@font-face {
    font-family:'NANUMSQUARE';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/NanumSquareR.woff) format('woff')
}
@font-face {
    font-family:'NANUMSQUARE';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/NanumSquareL.woff) format('woff')
}

/* 나눔바람펜 */
@font-face {
    font-family:'NANUMBARUNPENB';
    font-style:normal;
    src: url(fonts/NANUMBARUNPENB.woff) format('woff')
}
@font-face {
    font-family:'NANUMBARUNPENR';
    font-style:normal;
    src: url(fonts/NANUMBARUNPENR.woff) format('woff')
}

/* 나눔고딕 */
@font-face {
    font-family:'NANUMGOTHIC';
    font-style:normal;
    font-weight: 800;
    src: url(fonts/NanumGothic-ExtraBold.woff) format('woff')
}
@font-face {
    font-family:'NANUMGOTHIC';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/NanumGothic-Bold.woff) format('woff')
}
@font-face {
    font-family:'NANUMGOTHIC';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/NanumGothic-Regular.woff) format('woff')
}


/* G마켓 산스체 */
@font-face {
    font-family:'GMARKET-SDG';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/GMARKETSANSTTFBOLD.woff) format('woff')
}
@font-face {
    font-family:'GMARKET-SDG';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/GMARKETSANSTTFMEDIUM.woff) format('woff')
}
@font-face {
    font-family:'GMARKET-SDG';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/GMARKETSANSTTFLIGHT.woff) format('woff')
}


/* 더페이스샵 - 잉크립퀴드체 */
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 영문 필기체 */
@font-face {
    font-family: 'Caveat_Brush';
    src: url(fonts/CaveatBrush-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 일어 필기체 */
@font-face {
    font-family: 'Reggae_One';
    src: url(fonts/CReggaeOne-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 노토산스 */
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 900;
    src: url(fonts/NotoSansKR-Black.woff) format('woff');
}
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/NotoSansKR-Bold.woff) format('woff');
}
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/NotoSansKR-Medium.woff) format('woff')
}
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/NotoSansKR-Regular.woff) format('woff')
}
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/NotoSansCJKkr-DemiLights.woff) format('woff')
}
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 200;
    src: url(fonts/NotoSansKR-Light.woff) format('woff')
}
@font-face {
    font-family:'Noto_Sans_KR';
    font-style:normal;
    font-weight: 100;
    src: url(fonts/NotoSansKR-Thin.woff) format('woff')
}


/* Montserrat */
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 900;
    src: url(fonts/Montserrat-Black.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 800;
    src: url(fonts/Montserrat-ExtraBold.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/Montserrat-Bold.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 600;
    src: url(fonts/Montserrat-SemiBold.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/Montserrat-Medium.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/Montserrat-Regular.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/Montserrat-Light.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/Montserrat-Light.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 200;
    src: url(fonts/Montserrat-ExtraLight.woff) format('woff')
}
@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight: 100;
    src: url(fonts/Montserrat-Thin.woff) format('woff')
}


/* SpoqaHanSans */
@font-face {
    font-family:'SpoqaHanSans';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/SpoqaHanSansNeo-Bold.woff) format('woff')
}
@font-face {
    font-family:'SpoqaHanSans';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/SpoqaHanSansNeo-Medium.woff) format('woff')
}
@font-face {
    font-family:'SpoqaHanSans';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/SpoqaHanSansNeo-Regular.woff) format('woff')
}
@font-face {
    font-family:'SpoqaHanSans';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/SpoqaHanSansNeo-Light.woff) format('woff')
}
@font-face {
    font-family:'SpoqaHanSans';
    font-style:normal;
    font-weight: 100;
    src: url(fonts/SpoqaHanSansNeo-Thin.woff) format('woff')
}


/* poppins */
@font-face {
    font-family:'poppins';
    font-style:normal;
    font-weight: 700;
    src: url(fonts/Poppins-Bold.woff) format('woff')
}
@font-face {
    font-family:'poppins';
    font-style:normal;
    font-weight: 500;
    src: url(fonts/Poppins-Medium.woff) format('woff')
}
@font-face {
    font-family:'poppins';
    font-style:normal;
    font-weight: 400;
    src: url(fonts/Poppins-Regular.woff) format('woff')
}
@font-face {
    font-family:'poppins';
    font-style:normal;
    font-weight: 300;
    src: url(fonts/Poppins-Light.woff) format('woff')
}

